.work , .aboutme , .contactme{
    display: none;
}
section{
    text-align: center;
    margin: 0px 250px 0px 250px;
    background-color: white;
    
}
#positive{
    width: 100%;
    height: 500;
    background-color:  black;
    filter: blur(6px);
    -webkit-filter: blur(2px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .centered {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family:'Covered By Your Grace', cursive;
    font-size: 3.5em;
    text-shadow: 3px 3px black;
    text-align: center;
}
.title{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family:'Covered By Your Grace', cursive ;
    font-size: 70px;
    text-shadow: 3px 3px black;
    text-align: center;
}

.disclaimer{
    text-align: center;
    color: white;
}
p{
    font-size: 20px;
}
.bg{
    text-align: left;
}
.colleges img{
    width: 20%;
    padding: 3px;
}

.activities img{
    width: 20%;
    height: auto;
    padding: 5px;
}
 .myworks {
    position: relative;
    max-width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .myworks img {
      vertical-align: middle;
    }
  
  .myworks .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 200px;
    padding: 2px;
  }
.logo{
    font-family: 'Covered By Your Grace', cursive;
    text-shadow: 3px 3px 3px black;
    font-size: 70px;
}
h3{
    font-family: 'Covered By Your Grace', cursive; 
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
  }

.fa-facebook {
    color: white;
  }
  .fa-google:hover{
      color:rgb(212, 38, 38);
  }
  .fa-instagram:hover{
      color: purple;
  }
  .fa-google {
    color: white;
  }
  .fa-linkedin {
    color: white;
  }
  .fa-instagram {
    color: white;
  }
  .social{
      display: none;
      text-align: center;
  }  
  i {
    border: solid grey;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    margin-left: 710px;
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  .moreaboutme{
      display: none;
  }
 